.privacy-policy-container {
  box-sizing: border-box;
  max-width: 712px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  margin-top: 52px;
}
.privacy-policy-container > h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.25px;
  margin: 0px;
}
.privacy-policy-container > p:nth-of-type(1) {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.25px;
  text-transform: capitalize;
  color: #757575;
  margin: 10px 0px;
}
.privacy-policy-container > p:nth-of-type(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #757575;
  margin: 0px;
}
.privacy-policy-container > p:nth-of-type(3) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #bdbdbd;
  text-align: left;
  margin: 30px 0px;
}
