.page-not-found-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0px auto;
  margin-top: calc(38.4vh - 48px);
}
.page-not-found-container > p:nth-of-type(1) {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.5px;
  margin: 0px;
}
.page-not-found-container > p:nth-of-type(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.25px;
  color: #757575;
  margin: 0px;
}
