.platform-login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 24px;
  width: 305px;
  height: 48px;
  background: #dfbc68;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}
.platform-login-text {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1a1a1a;
  margin: 0px;
}
